wandb_archived/
wandb

data/
result/
results/
helm/
output/
DataDecide-eval-instances/
DataDecide-eval-instances_sample-evals/

*.zip
*.npz
*.npy
*.pkl
*.json
*.txt
*.csv
*.pt
*.log
*.parquet
*.pkl.batch_count

.env
.RData
.Rhistory

.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
__pycache__/

a.ipynb
a.py
a.sh

google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz
