wandb_archived/
wandb

data/
result/
helm/

*.zip
*.png
*.npy
*.pkl
*.txt
*.json
*.csv
*.pt
*.log
*.parquet
*.pkl.batch_count

.env
.RData
.Rhistory

.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
__pycache__/

a.ipynb
a.py

google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz